* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    height: 80vh;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
  }
  
  .image-section {
    flex: 1;
    background-color: #F8E8E8; /* Adjust this color if needed */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-section {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
  }
  
  .logo h1 {
    font-family: 'Brush Script MT', cursive;
    font-size: 3.2rem;
    color: #AD6A6A;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  h2 {
    margin-bottom: 20px;
    font-size: 2rem;
  }
  .lgs {
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
    font-size: 0.9rem;
  }
  
  input[type="email"], input[type="password"], input[type="text"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .remember-me input {
    margin-right: 10px;
  }
  
  button {
    padding: 10px;
    background-color: #F28A8A;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  
  button:hover {
    background-color: #f06d6d;
  }
  
  .sign-up {
    margin-top: 20px;
  }
  
  .sign-up a {
    color: #F28A8A;
    text-decoration: none;
    font-weight: bold;
  }
  .sign-up p {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: flex;
  }
  